/* For Smartphones */
@media screen and (max-width:660px) {
    section {
        width: 100%;
        height: fit-content;
        padding-top: 20%;
    }

}

@media screen and (max-width: 660px) {
    .navbar {
        padding: 30px;
    }

    .link {
        display: none;
    }

    .login-btn,
    .logout-btn {
        display: none;
    }

    .side-nav .login-btn,
    .side-nav .logout-btn {
        display: block;
    }

    .side-nav {
        width: 100%;
    }

    footer {
        display: none;

    }

    .footer-nav {
        margin-top: 10%;
    }

}

@media screen and (max-width:660px) {
    .side-para {
        width: 100%;
    }

    .para {
        width: 100%;
    }

    .side-para-img {
        display: none;
    }

    .details {
        width: 100%;
    }
}

@media screen and (max-width:660px) {
    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .flex {
        display: grid;
    }
}

@media screen and (max-width:660px) {
    
    #loginform,
    #logoutform {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: none;
        top: none;
    }

    .transfer-form{
        padding: 5px;
        width: 100%;
    }
    .keyboard{
        width: 100%;
    }
    .key{
        width: 100%;
    }

    .receipt{
        width: 100%;
    }
    .tick{
        left: 15%;
    }

}